/* Global Styles */

@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import './common-scss/scss/common.scss';
/*
Constants for the whole UI
*/

/////////////////////////////////////////////////////////
//                         CLASES                      //
/////////////////////////////////////////////////////////
body,
html {
  height: 100%;
}

table {
  width: 100%;
}

.container-banner {
  background: $mediumbluewalmart;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.container-subbanner {
  background: $darkbluewalmart;
  padding: 1.2rem;
  color: white;
  padding: 0.1rem 0.5rem;
  font-weight: 700;
  text-align: center;
  height: 28px;
}

.container-footer {
  background: $yellowwalmart;
  padding: .8rem;
  padding: 0.1rem 0.5rem;
  font-weight: 700;
  text-align: center;
  height: 10px;
}

.container-results {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.container-panel {
  background: rgba(0, 0, 0, 0.1);
}

.container-article {
  background: white;
  padding: 0.1rem 0.5rem;
  font-weight: 700;
  height: 28px;
}

.container-panel-objects {
  padding-top: 2rem;
  padding-bottom: 5rem;
  padding-left: 5rem;
}

.container-details {
  padding: 0.5rem;
}

.container-article {
  height: 20rem;
  background: $grisRadicalDesactivado20;
}

.logo-panel {
  margin-bottom: -2rem;
  width: 10rem;
  margin-top: -1rem;
}

.logo-article {
  width: 60%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.descripcion-article {
  text-align: left;
  margin-bottom: 5rem;
}

.price-new-article {
  font-weight: bold
}

.price-old-article {
  font-weight: bold;
  text-decoration: line-through;
  color: $grisRadicalDesactivado;
}

.trademark-article {
  font-weight: bold;
}

.result-margin {
  padding-left: .5rem;
}

.results {
  font-size: 1.2rem;
}

.text-search {
  border-radius: 1rem;
}

/////////////////////////////////////////////////////////
//                    LOADER SPINNER                   //
/////////////////////////////////////////////////////////
.tootlbar-icon {
  padding: 0 14px;
}

.tootlbar-spacer {
  flex: 1 1 auto;
}

/* Absolute Center Spinner */

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */

.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */

.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: $mediumbluewalmart 1.5em 0 0 0, $mediumbluewalmart 1.1em 1.1em 0 0, $mediumbluewalmart 0 1.5em 0 0, $mediumbluewalmart -1.1em 1.1em 0 0, $mediumbluewalmart -1.5em 0 0 0, $mediumbluewalmart -1.1em -1.1em 0 0, $mediumbluewalmart 0 -1.5em 0 0, $mediumbluewalmart 1.1em -1.1em 0 0;
  box-shadow: $mediumbluewalmart 1.5em 0 0 0, $mediumbluewalmart 1.1em 1.1em 0 0, $mediumbluewalmart 0 1.5em 0 0, $mediumbluewalmart -1.1em 1.1em 0 0, $mediumbluewalmart -1.5em 0 0 0, $mediumbluewalmart -1.1em -1.1em 0 0, $mediumbluewalmart 0 -1.5em 0 0, $mediumbluewalmart 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
