/*
Constants for the whole UI
*/

$mediumbluewalmart: #0072CE;
$yellowwalmart: #FFB81C;
$darkbluewalmart: #003087;
$lightbluewalmart: #6CACE4;
$grisRadicalDesactivado: #757575;
$grisRadicalDesactivado50: #3f3f3f;
$grisRadicalDesactivado20: #c2c2c2;
$grisRadicalDesactivado10: #e3e3e3;

$btn-primary-color: $darkbluewalmart;
$btn-primary-color-hover: $lightbluewalmart;
$btn-secondary-color: $darkbluewalmart;
$btn-secondary-color-hover: $lightbluewalmart;
$btn-tertiary-color: #dddddd;
$btn-tertiary-color-hover: #757575;
$btn-ghost-color: #fff;
$btn-ghost-color-hover: $btn-ghost-color;
/*
Constants for headers
*/

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.3;
$h4-font-size: $font-size-base * 1.2;
$h5-font-size: $font-size-base * 1.1;
$h6-font-size: $font-size-base;
// $colorbanco: #007833;
// $colorhover: #006b36;
// $colordefault: #dddddd;
// $colordefaulthover: #cacaca;
// $colorprimary: #dc2a4d;
// $colorprimaryhover: #b51e3c;
// $colorsecondary: #4D833F;
// $colorsecondaryhover: #3e6933;
// // DUH, colores obvios
// $blanco: #FFF;
// $negro: #000;
// // Colores corporativos
// $verdeCMR: #3FAE2A;
// $verdeRadical: #4D833F;
// $verdeRadicalHover: #3E6933;
// $rojoCMR: #D92B48;
// $grisBackground: #FAFAFA;
// $grisRadicalDesactivado: #757575;
// // UI
// $grisDesactivado: #8A929A;
// $grisBeneficios: #EEF2F7;
// $grisBeneficiosRGBA: rgba(207, 218, 246, 0.5);
// $blancoBotones: #F3F3F3;